/*imagenes*/
.producto_catalogo:hover {
    transform: scale(1.10); /* Efecto de escalado suave */
    background-image: url('https://m.media-amazon.com/images/I/71xII7d0jlL._AC_SL1500_.jpg');
    background-size: cover;
    background-position: center;
}

  


main {
    padding: 15px; 
}

/*Ajuste de tamaño de la imagen */
.producto_catalogo {
    width: 200px;
    height: auto; 
    max-width: 300px; 
    border-radius: 20%;
    margin-bottom: 10px;
}

.producto_info {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around; 
    height: 100%; 
    flex: 1;
    padding-right: 20px;
}


.container_producto {
    display: flex;
    justify-content: start;
    align-items: flex-start; 
    padding: 20px; 
    background-color: rgba(176, 176, 176, 0.5);
    border-radius: 10px;
    margin-bottom: 20px;
}

.container_desc_btn {
    flex: 2; 
    display: flex;
    flex-direction: column;    
}

.container_desc_btn > * {
    margin: 0;
}

 

.btn {
    margin: 10px auto; 
    padding: 10px 20px; 
    border-radius: 15px; 
    display: block; 
}


.producto_catalogo {
    max-width: 100%; 
    height: auto; 
}


.descripcion_producto, .precio {
    margin: 5px 0;
}

.descripcion_detallada {
    margin-bottom: 15px;
    padding: 10px;
}

.btn {
    border-radius: 10px; 
    margin-top: 0.5px; 
    background-color: rgb(255, 255, 0); 
    color: black;  
    padding: 5px;
    font-size: 14px;
    cursor: pointer; 
    
    width: 130px;
    text-align: center;
    border: 1px solid black;
}

.btn:hover {
    background-color: gold;
}

h2{
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    color: black;
}

p{
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.precio {
    color :rgb(243, 34, 34);
}
