/* General Layout */
main {
    padding: 15px;
}

/* Imagen de productos */
.producto_catalogo {
    width: 100%;
    height: auto;
    max-width: 250px; /* Ajusta este valor según el tamaño que prefieras */
    object-fit: cover; /* Mantiene la proporción de la imagen */
}

/* Estilo del contenedor principal */
.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center; /* Centra horizontalmente los elementos */
    align-items: center;   /* Centra verticalmente los elementos */
    margin-top: 30px; /* Margen para separación del título */
}

/* Estilo de cada ítem */
.item {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    text-align: center; /* Centra el contenido */
    width: 100%; /* Asegura que el ancho ocupe el espacio del grid */
    min-height: 400px; /* Altura mínima igual para todos los contenedores */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido dentro del contenedor esté bien distribuido */
}


figure img {
    width: auto; /* Asegura que la imagen ocupe todo el ancho disponible */
    height: 120px; /* Mantiene la proporción original de la imagen */
    max-width: 250px; /* Limita el ancho máximo de la imagen */
    object-fit: cover; /* Ajusta cómo se muestra la imagen si no coincide el tamaño exacto del contenedor */
    border-radius: 10px; /* Opcional: agrega bordes redondeados a la imagen */
    display: block;
    margin: 0 auto; /* Centra la imagen si tiene un ancho más pequeño */
}


.item:hover img {
    transform: scale(1.05); /* Efecto zoom en imagen */
}

/* Información del producto */
.info-product {
    padding: 15px;
    line-height: 2;
    flex-grow: 1; /* Asegura que el contenido se expanda en el espacio disponible */
}

.info-product h2 {
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
    margin: 10px 0;
}

.info-product p {
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.info-product button {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.info-product button:hover {
    background-color: #444; /* Cambia color del botón al hacer hover */
}

/* Estilo del título del catálogo */
.titulo1_class {
    text-align: center;
}

#titulo1_id {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: black;
}

.titulo_underline {
    border: 1px solid green;
    width: 50px;
    margin: 0 auto;
}

.container_carrito{
    position: absolute;
    top: 25%;
    left: 20px;
    background-color: pink;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}