
header h1.fuente_titulo {
    font-size: 30px;
}
header {
    background-color: #5D9CEC;
    padding: 10px;
    font-family: 'calibri';
    font-weight: bold;
    font-size: 20px;
    color: white; 
}

header a {
    color: white; 
    text-decoration: none;
}

.nav_links a:hover {
    color: black;
}
/*----------------------------------------------------------------------------------------------------------  */

.container > nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.nav_links ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav_links ul li{
    margin-left: 200px; 
} 


/*Main---------------------------------------------------*/


#titulo1_id{
    font-family: 'calibri';
    font-weight: bold;
    font-size: 50px;
    color: black; 
    padding: 0px;
}

.titulo1_class > h1{
    display: flex;
    justify-content: space-around;
    margin: 50px 0 0 0;

}
.titulo_underline{
    width: 50%; 
    margin: 8px auto;
    border: 1px solid gray;
}

/*empieza el texto imagen --------------------------------------------------------------------------------------------------------------*/

p {
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    text-align: justify;
}
h2{
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
}
ul {
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    text-align: justify;
}


.texto_imagen_container {
    display: flex;
    justify-content: space-between;
    
}

.columna {
    flex: 1; /* Cada columna ocupará un espacio igual */
    padding: 10px; /* Espaciado interno opcional */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    max-width: 50%; /* Limita el ancho de cada columna al 50% */
}

.columna img {
    width: 100%; /* O un valor específico como 300px; ajusta según necesites */
    height: auto; /* Mantiene la relación de aspecto */
    max-width: 600px; /* Ajusta el tamaño máximo de la imagen, si es necesario */
    display: block; /* Necesario para aplicar margin auto */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    border: rgb(230, 224, 224) solid;
}