/* Header */
header h1.fuente_titulo {
    font-size: 30px;
}

header{
    background-color: rgba(111, 163, 239, 0.7); 
    padding: 10px;
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 15px;
}

header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* Estilo para hover en los enlaces del menú */
.nav_links a:hover {
    color: #fff; 
}

/* Contenedor del menú de navegación */
.container > nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Navegación */
.nav_links ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

/* Espacio entre los elementos del menú */
.nav_links ul li {
    margin-left: 200px;
}

/* Estilo del título principal */
#titulo1_id {
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: black;
    padding: 0;
}

.titulo1_class > h1 {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 0;
}

/* Subrayado decorativo debajo del título */
.titulo_underline {
    width: 50%;
    margin: 8px auto;
    border: 1px solid green;
}

/* Texto y párrafos */
p {
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    text-align: justify;
}

h2 {
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
}

h3 {
    color: rgb(0, 0, 0);
    font-family: 'Calibri', sans-serif;
    font-size: 40px;
}

/* Listas */
.objetivos > li {
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    text-align: justify;
}

/* Contenedor de la sección texto e imagen */
.texto_imagen_container {
    display: flex;
    justify-content: space-between;
}

/* Columnas de la sección */
.columna {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    max-width: 50%;
    
}
.texto_imagen_container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
}


.columna img {
    width: 100%;
    height: auto;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    border: 1px solid rgb(230, 224, 224);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px; 
}


/* Video de fondo */
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;    
    overflow: hidden;
}

.video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    border-radius: 15px;
}

/* Tamaño de imágenes de las redes sociales */
.fb img,
.ig img,
.x img,
.wpp {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.fb img:hover,
.ig img:hover,
.x img:hover,
.wpp:hover {
    transform: scale(1.5); /* Aumenta el tamaño al pasar el cursor */
}

/* Footer layout */
.container_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px;
    max-width: 1500px;
    margin: 0 auto;
}

.footer_div_container {
    flex: 1;
    padding: 8px;
    margin: 0 8px;
    box-sizing: border-box;
}

/* Estilo del copyright */
#container_copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* WhatsApp container */
#wpp_container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}


/* Teléfono */
#telefono {
    color: rgb(0, 0, 0);
    font-family: 'Calibri', sans-serif;
    font-size: 30px;
}

/* Texto del copyright */
#letras_copyright {
    color: rgb(0, 0, 0);
    font-family: 'Calibri', sans-serif;
    text-align: center;
    font-size: 15px;
}
