
/*main*/
main{
    margin: 40px;
}

header h1.fuente_titulo {
    font-size: 30px;
}
header {
    background-color: #5D9CEC;
    padding: 10px;
    font-family: 'calibri';
    font-weight: bold;
    font-size: 20px;
    color: white; 
}

header a {
    color: white; 
    text-decoration: none;
}

.nav_links a:hover {
    color: black;
}
/*----------------------------------------------------------------------------------------------------------  */

.container > nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.nav_links ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav_links ul li{
    margin-left: 200px; 
} 


/*Main---------------------------------------------------*/


#titulo1_id{
    font-family: 'calibri';
    font-weight: bold;
    font-size: 50px;
    color: black; 
    padding: 0px;
}

.titulo1_class > h1{
    display: flex;
    justify-content: space-around;
    margin: 50px 0 0 0;

}
.titulo_underline{
    width: 50%; 
    margin: 8px auto;
    border: 1px solid gray;
}

/*empieza el texto imagen --------------------------------------------------------------------------------------------------------------*/

p {
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    text-align: justify;
}
h2{
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
}

h3{
    color: white;
    font-family: 'Calibri', sans-serif;
    font-size: 40px;
}

ul {
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    text-align: justify;
}


.texto_imagen_container {
    display: flex;
    justify-content: space-between;
    
}

.columna {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    max-width: 50%;
}

.columna img {
    width: 100%; 
    height: auto;
    max-width: 600px;
    display: block; 
    margin: 0 auto; 
    border: rgb(230, 224, 224) solid;
}

/*footer----------------------*/
footer {
    background-color: rgb(149, 140, 140);
    padding: 10px 0;
}

/*Tamaño imagenes footer*/

.redes_sociales a img {
    width: 70px; 
    height: auto;
}

div > img {
    width: 80px;
    height: auto;
}




/*acomodo del footer*/

.container_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px;
    max-width: 1500px;
    margin: 0 auto;
}

.footer_div_container {
    flex: 1; 
    padding: 8px;
    margin: 0 8px;
    box-sizing: border-box;
}


/*copyright*/
#container_copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}


#wpp_container{
    display: flex;
    justify-self: center;
}

#telefono{
    color: white;
    font-family: 'Calibri';
    font-size: 30px;
}

#letras_copyright{
    color: white;
    font-family: 'Calibri';
    text-align: center;
}


