
.article { 
    display: flex;
    justify-content: center;
    border: 1px solid rgb(230, 224, 224);
    margin: 10px 350px 10px 350px; 
    padding: 20px; 
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}   


h2{
    font-family: 'Calibri', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

p{
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    color: white;
}


.container_ubicacion {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

