
/*----------------------------------------------------------------------------------------------------------  */

h2{
    font-family: 'Calibri', sans-serif;
    font-size: 30px;
    font-weight: bold;

}

p{
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
}



/*----------------------------------------------------------------------------------------------------------  */

.container > nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.nav_links ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav_links ul li{
    margin-left: 200px; 
} 

/*MAIN*/
main{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
